*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #212121;

}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cursor{
    height: 22px;
    width: 22px;
    background-color: #fff;
    position: fixed;
    border-radius: 50px;
    z-index: 9;
    font-size: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#image{
    position: relative;
    height: 30vh;
    width: 60vw;
    background-color: red;
}
#image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 100%;
    width: 100%;
    background-color:transparent;
    position: absolute;
    position: absolute;
    z-index: 10;
}
